extends layout

block content
    h1= title
    div#tablero
        img(src='images/tablero.png',width='512px',height='512px')
    div#fichas
    fi



    script(src='/socket.io/socket.io.js')
    script(src='javascripts/notificaciones.js')
    script(src='lib/jquery/dist/jquery.min.js')

    script(src='lib/jquery-ui/ui/core.js')
    script(src='lib/jquery-ui/ui/widget.js')
    script(src='lib/jquery-ui/ui/mouse.js')
    script(src='lib/jquery-ui/ui/position.js')
    script(src='lib/jquery-ui/ui/draggable.js')
    script(src='lib/jquery-ui/ui/droppable.js')

    script(src='javascripts/tablero.js')
    script(src='javascripts/gallinas.js')
    script(src='javascripts/juego.js')